@charset "utf-8";
/* CSS Document */
body {
	text-align: center;
	background-color: darkseagreen;  
}

a {
	padding: 15px;
margin: 20px;
	font-size: 125%;
	background-color:  teal; 
	border-radius: 12px;
	color:  black; 
}

a:hover {
	font-size:130%;
	background-color: darkslategray; 
	border-radius: 12px;
	color: lightseagreen; 
}

