@charset "utf-8";
/* CSS Document */
body {
	max-width: 960px;
	margin: auto;
	text-align: center;
	background-color: whitesmoke;  
	font-family: Verdana, Geneva, sans-serif;
}

p {
  text-indent: 50px;
}
a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  lightseagreen; 
	color:  #191818; 
}

a:hover {
	background-color: darkslategray; 
	color: white; 
}

#wrapper {
	width:1000px;
	margin:0 auto;    /* centers wrapper */
}
#wrapper1 {
	float:left;
	width:960px;
	background-color: whitesmoke;
}

#wrapper2 {
	float:left;
	width:450px;
	padding: 15px;
	background-color: whitesmoke;
}

#wrapper3 {
	width:960px;
	background-color: whitesmoke;

}
#wrapper4 {
	float:left;
	width:200px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 35px;
	padding-bottom: 20px;
	background-color: whitesmoke;
}

img { 
border-radius: 20px;
box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.logo {
	margin: 50px;
}
